<header class="game-header">
  <div class="logo">
    <a routerLink="/home"><img src="/assets/windsor.png" alt="Studio Logo"/></a>
  </div>
  <nav>
    <ul>
      <li><a routerLink="/games" routerLinkActive="app-games">Games</a></li>
      <li><a routerLink="/news" routerLinkActive="app-news">News</a></li>
      <li><a routerLink="/about" routerLinkActive="app-about">About Us</a></li>
    </ul>
  </nav>
  <div>
    <button class="cta-btn" routerLink="/home" fragment="contact" routerLinkActive="active">Contact</button>
  </div>
</header>