@import 'styles/variables';

.article-container {
  max-width: 900px;
  margin: 20 100 100;
  padding: $space-large * 2 5vw;
  border-radius: 8px;
  background-color: rgba($color-dark-bg, 0.6);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 15px rgba($color-dark-bg, 0.6);
  
}

.article-header {
  text-align: center;
  margin-bottom: $space-large;

  .metadata {
    color: $color-text-muted;
    font-size: 0.9rem;
    margin-bottom: 10px;

    span {
      padding-right: 10px;
      margin-right: 10px;
      border-right: 1px solid $color-dark-surface;
    }
    .category {
      color: $color-accent-secondary; 
      font-weight: 700;
      text-transform: uppercase;
    }
  }

  h1 {
    color: $color-text-light;
    font-size: 3rem;
    line-height: 1.1;
  }
}

.article-body {
  .featured-image {
    width: 100%;
    height: auto;
    max-height: 450px;
    object-fit: cover;
    margin-bottom: $space-large;
    border-radius: 8px;
    border: 1px solid $color-dark-surface;
  }

  .article-content {
    line-height: 1.7;
    color: $color-text-muted;

    h2 {
      color: $color-accent-primary;
      margin-top: $space-large;
      margin-bottom: 15px;
      font-size: 2rem;
    }

    p {
      margin-bottom: 1.5rem;
    }

    blockquote {
      background-color: $color-dark-surface;
      border-left: 5px solid $color-accent-secondary;
      padding: 15px 20px;
      margin: 30px 0;
      font-style: italic;
      color: $color-text-light;
      font-size: 1.1rem;
    }
  }
}